@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: night --default;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.tooltip {
  visibility: hidden;
  text-align: center;
}

.GitHub-link:hover .tooltip,
.course-link:hover .tooltip {
  visibility: visible;
}

.react-logo,
.github-logo,
.profile-card,
.image-404 {
  will-change: filter;
  transition: filter 300ms;
}

.react-logo:hover,
.github-logo:hover,
.profile-card:hover,
.image-404:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
  }
}
